.appwrapper-4-to-3-portrait {
    margin: auto;
    overflow: none;
    box-sizing: border-box;
    width: 100vw;
    max-height: 100vh;
}
.appwrapper-4-to-3-landscape {
    margin: auto;
    overflow: none;
    box-sizing: border-box;
    width: 100vw;
    height: 75vw; /* height:width ratio = 3/4 = .5625  */
    max-height: 100vh;
    max-width: 133.33vh; /* 4/3 = 1.778 */
}
.appwrapper-4-to-3-landscape-inner {
    width: 100%;
    padding-bottom: 75%;
    font-size: 1.333vh;
    position: relative;
}
.appwrapper-4-to-3-portrait-inner {
    width: 100%;
    padding-bottom: 75%;
    font-size: 1vw;
    position: relative;
}
