.appwrapper-16-to-9-portrait {
    margin: auto;
    overflow: none;
    box-sizing: border-box;
    width: 100vw;
    max-height: 100vh;
}
.appwrapper-16-to-9-landscape {
    margin: auto;
    overflow: none;
    box-sizing: border-box;
    width: 100vw;
    height: 56.25vw; /* height:width ratio = 9/16 = .5625  */
    max-height: 100vh;
    max-width: 177.78vh; /* 16/9 = 1.778 */
}
.appwrapper-16-to-9-landscape-inner {
    width: 100%;
    padding-bottom: 56.25%;
    font-size: 1.778vh;
    position: relative;
}
.appwrapper-16-to-9-portrait-inner {
    width: 100%;
    padding-bottom: 56.25%;
    font-size: 1vw;
    position: relative;
}
