.react-toggle {
    touch-action: pan-x;

    display: inline-block;
    position: relative;
    cursor: pointer;
    background-color: transparent;
    border: 0;
    padding: 0;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: transparent;
}

.react-toggle-screenreader-only {
    border: 0;
    clip: rect(0 0 0 0);
    height: 0.1em;
    margin: -0.1em;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 0.1em;
}

.react-toggle--disabled {
    cursor: not-allowed;
    opacity: 0.5;
    -webkit-transition: opacity 0.25s;
    transition: opacity 0.25s;
}

.react-toggle-track {
    width: 2.5em;
    height: 1.2em;
    padding: 0;
    border-radius: 2.5em;
    background-color: #4d4d4d;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.react-toggle:hover:not(.react-toggle--disabled) .react-toggle-track {
    background-color: #000000;
}

.react-toggle--checked .react-toggle-track {
    background-color: #19ab27;
}

.react-toggle--checked:hover:not(.react-toggle--disabled) .react-toggle-track {
    background-color: #128d15;
}

.react-toggle-track-check {
    position: absolute;
    width: 1.4em;
    height: 1.2em;
    top: 0.325em;
    bottom: 0em;
    margin-top: auto;
    margin-bottom: auto;
    line-height: 0;
    left: 0.4em;
    opacity: 0;
    -webkit-transition: opacity 0.25s ease;
    -moz-transition: opacity 0.25s ease;
    transition: opacity 0.25s ease;
    font-size: 2em;
    display: none;
}

.react-toggle--checked .react-toggle-track-check {
    opacity: 1;
    -webkit-transition: opacity 0.25s ease;
    -moz-transition: opacity 0.25s ease;
    transition: opacity 0.25s ease;
    display: none;
}

.react-toggle-track-x {
    position: absolute;
    width: 1em;
    height: 1.2em;
    top: 0em;
    bottom: 0em;
    margin-top: auto;
    margin-bottom: auto;
    line-height: 0;
    right: 1em;
    opacity: 1;
    -webkit-transition: opacity 0.25s ease;
    -moz-transition: opacity 0.25s ease;
    transition: opacity 0.25s ease;
    display: none;
}

.react-toggle--checked .react-toggle-track-x {
    opacity: 0;
}

.react-toggle-thumb {
    transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1) 0ms;
    position: absolute;
    top: 0em;
    left: 0.1em;
    width: 1.2em;
    height: 1.2em;
    border: 0.1em solid #4d4d4d;
    border-radius: 50%;
    background-color: #fafafa;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    -webkit-transition: all 0.25s ease;
    -moz-transition: all 0.25s ease;
    transition: all 0.25s ease;
}

.react-toggle--checked .react-toggle-thumb {
    left: 1.5em;
    border-color: #19ab27;
}

.react-toggle--focus .react-toggle-thumb {
    -webkit-box-shadow: 0em 0em 0.3em 0.2em #0099e0;
    -moz-box-shadow: 0em 0em 0.3em 0.2em #0099e0;
    box-shadow: 0em 0em 0.2em 0.3em #0099e0;
}

.react-toggle:active:not(.react-toggle--disabled) .react-toggle-thumb {
    -webkit-box-shadow: 0em 0em 0.5em 0.5em #0099e0;
    -moz-box-shadow: 0em 0em 0.5em 0.5em #0099e0;
    box-shadow: 0em 0em 0.5em 0.5em #0099e0;
}
