
.endscreen,
.quickstart {
    background-color: rgba(0, 0, 0, 0.95);
    color: #fff;
    padding: 2vw;
    border-radius: 0.5vw;
    z-index: 5000;
    width: 20vw;
}

.endscreen > div {
    font-size: 2vw;
    text-align: center;
}

.endscreen > .title {
    font-size: 15vw;
}

.quickstart,
.endscreen {
    width: 32vw;
    position: absolute;
    top: 6vw;
    right: 32vw;
}

.quickstart button,
.endscreen button {
    font-size: 4vw;
    color: white;
    border-radius: 0.5vw;
    border-color: gray;
    border-style: solid;
    height: 10vw;
    background-color: rgba(0, 0, 0, 0);
    width: 14vw;
    margin: 1vw;
}

.quickstart button > div,
.endscreen button > div {
    font-size: 1vw;
    color: lightgray;
}

.quickstart .left {
    float: left;
    width: 16vw;
}

.quickstart .right {
    float: right;
    width: 16vw;
}

.quickstart .title {
    font-size: 2vw;
    margin-bottom: 2vw;
}

