$suggested: orange;
$selected: yellow;
$focused: #3c99dc;

button {
    font-size: 1em;
}

.board-jail {
    position: relative;
}

.game-layout-container {
    position: absolute;
    top: 0.5vw;
}

.game-layout-container.splitscreen {
    left: 1vw;
    right: 1vw;
}

.game-layout-container.singleplayer {
    position: absolute;
}

.layout-grid-container.singleplayer {
    width: 100%;
    display: grid;
    grid-template-areas:
        "header"
        "game";
    grid-gap: 0.5%vw;
    background-color: "darkgreen";
    font-size: 2.25em;
}

.layout-grid-container.splitscreen {
    width: 47vw;
    margin-left: 1vw;
    margin-right: 1vw;
    display: grid;
    grid-template-areas:
        "header"
        "game";

    grid-gap: 0.5vw;
    background-color: "darkgreen";
    font-size: 1vw;
    float: left;
    position: relative;
}

.header {
    font-size: 1em;
    grid-area: header;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 0.25em;
    color: white;
    z-index: 3000;
    height: 1.75em;
}

.board-grid-container {
    margin: 0em;
    margin-top: 1.25em;
    grid-area: game;
    display: grid;
    grid-gap: 1.5vw;
    align-content: start;
    grid-template-areas:
        "stock waste spacer foundation foundation foundation foundation"
        "tableau tableau tableau tableau tableau tableau tableau";
    background-color: "darkgreen";
}

.board-grid-container.singleplayer {
    margin-top: 1.25em;
}

.board-grid-container.splitscreen {
    width: 100%;
}

.board-field {
    position: relative;
}

.board-field.stock {
    grid-area: stock;
}

.mainface {
    grid-area: mainface;
    text-align: center;
    font-size: 3.5em;
    font-weight: 550;
}

.card-grid-container {
    display: grid;
    grid-template-rows: 10% 75% 15%;
    grid-template-areas:
        "suite-tl face-tl spacer-t suite-tr"
        "mainface mainface mainface mainface"
        "suite-bl spacer-b face-br suite-br";
    height: 100%;
    width: 100%;
}

.card-grid-container > div {
    position: relative;
}

.stack-base {
    position: absolute;
    width: 100%;
}

.card-base {
    width: 100%;
    padding-top: 150%;
    border-radius: 0.25em;
    float: left;
    position: relative;
}

.socket-empty {
    border-style: dashed;
    border-width: 0.3vw;
    border-color: gray;
}

.socket-full {
    border-style: solid;
    border-width: 0.3vw;
    border-color: transparent;
}

.socket-suggested {
    box-shadow: 0vw 0vw 0.2vw 0.2vw $suggested;
    border-style: solid;
    border-width: 0.3vw;
    border-color: $suggested;
}

.card {
    border-style: solid;
    border-width: 0.1vw;
    border-color: black;
    background-color: white;
    padding: 0;
    padding-top: 150%;
    overflow: hidden;
    position: relative;
}

.socket {
    background-color: transparent;
}

.socket:focus {
    outline: none;
}

.socket-focused {
    border-style: solid;
    border-width: 0.3vw;
    border-color: $focused;
}

.card:focus {
    outline: none;
}

.card-selected {
    box-shadow: 0vw 0vw 0.4vw 0.4vw $selected;
}

.card-suggested {
    box-shadow: 0vw 0vw 0.4vw 0.4vw $suggested;
    animation: cardBlinker 2s linear infinite;
}

.card-suggested:hover {
    box-shadow: 0vw 0vw 0.4vw 0.4vw $suggested;
    animation: none;
}

@keyframes cardBlinker {
    50% {
        box-shadow: 0vw 0vw 0.2vw 0.2vw $suggested;
    }
}

.socket-blink {
    border-style: dashed;
    border-color: red;
}

.blink {
    border-color: red;
    box-shadow: 0vw 0vw 0.4vw 0.4vw red;
}

.card-content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.card-back {
    background-color: hsl(34, 53%, 82%);
    background-image: repeating-linear-gradient(
            45deg,
            transparent 5em,
            hsla(197, 62%, 11%, 0.5) 0.5em,
            hsla(197, 62%, 11%, 0.5) 1em,
            hsla(5, 53%, 63%, 0) 1em,
            hsla(5, 53%, 63%, 0) 3.5em,
            hsla(5, 53%, 63%, 0.5) 3.5em,
            hsla(5, 53%, 63%, 0.5) 4em,
            hsla(197, 62%, 11%, 0.5) 4em,
            hsla(197, 62%, 11%, 0.5) 5em,
            hsla(197, 62%, 11%, 0) 5em,
            hsla(197, 62%, 11%, 0) 6em,
            hsla(5, 53%, 63%, 0.5) 6em,
            hsla(5, 53%, 63%, 0.5) 7em,
            hsla(35, 91%, 65%, 0.5) 7em,
            hsla(35, 91%, 65%, 0.5) 8em,
            hsla(35, 91%, 65%, 0) 8em,
            hsla(35, 91%, 65%, 0) 9em,
            hsla(5, 53%, 63%, 0.5) 9em,
            hsla(5, 53%, 63%, 0.5) 11em,
            hsla(5, 53%, 63%, 0) 11em,
            hsla(5, 53%, 63%, 0) 12em,
            hsla(197, 62%, 11%, 0.5) 12em,
            hsla(197, 62%, 11%, 0.5) 1.4em
        ),
        repeating-linear-gradient(
            135deg,
            transparent 5em,
            hsla(197, 62%, 11%, 0.5) 0.5em,
            hsla(197, 62%, 11%, 0.5) 1em,
            hsla(5, 53%, 63%, 0) 1em,
            hsla(5, 53%, 63%, 0) 3.5em,
            hsla(5, 53%, 63%, 0.5) 3.5em,
            hsla(5, 53%, 63%, 0.5) 4em,
            hsla(197, 62%, 11%, 0.5) 4em,
            hsla(197, 62%, 11%, 0.5) 5em,
            hsla(197, 62%, 11%, 0) 5em,
            hsla(197, 62%, 11%, 0) 6em,
            hsla(5, 53%, 63%, 0.5) 6em,
            hsla(5, 53%, 63%, 0.5) 7em,
            hsla(35, 91%, 65%, 0.5) 7em,
            hsla(35, 91%, 65%, 0.5) 8em,
            hsla(35, 91%, 65%, 0) 8em,
            hsla(35, 91%, 65%, 0) 9em,
            hsla(5, 53%, 63%, 0.5) 9em,
            hsla(5, 53%, 63%, 0.5) 11em,
            hsla(5, 53%, 63%, 0) 11em,
            hsla(5, 53%, 63%, 0) 14em,
            hsla(197, 62%, 11%, 0.5) 14em,
            hsla(197, 62%, 11%, 0.5) 1.6em
        );
    margin: 5%;
    border-radius: 0.15em;
    height: 92%;
    border-color: black;
    border-style: solid;
    border-width: 0.025em;
}

.suit-♥,
.suit-♦ {
    color: red;
}

.foundation-base {
    font-size: 3em;
}

.card-stack-stock {
    box-shadow: -0.3vw -0.3vw 0.2vw 0.2vw rgba(0, 0, 0, 075);
}

.card-stack-stock.card-focused {
    box-shadow: 0vw 0vw 0.4vw 0.4vw $focused;
}

.card-focused {
    box-shadow: 0vw 0vw 0.4vw 0.4vw $focused;
}

.card-stack-stock.clickable:hover {
    box-shadow: -0.3vw -0.3vw 0.4vw 0.4vw black;
}

.card-stack-waste {
    box-shadow: -0.2vw -0.3vw 0.2vw 0.2vw rgba(0, 0, 0, 075);
}

.card-stack-waste.card-focused {
    box-shadow: 0vw 0vw 0.4vw 0.4vw $focused;
}

.card-stack-waste.clickable:hover {
    box-shadow: -0.2vw -0.3vw 0.4vw 0.4vw black;
}

@for $i from 0 through 3 {
    .card-stack-foundation-#{$i} {
        box-shadow: #{$i * 0.1}vw -0.4vw 0.2vw 0.2vw rgba(0, 0, 0, 075);
    }
    .card-stack-foundation-#{$i}.blink {
        box-shadow: #{$i * 0.1}vw -0.4vw 0.2vw 0.2vw red;
    }
    .card-stack-foundation-#{$i}.card-focused {
        box-shadow: 0vw 0vw 0.4vw 0.4vw $focused;
    }
    .card-stack-foundation-#{$i}.clickable:hover {
        box-shadow: #{$i * 0.1}vw -0.4vw 0.4vw 0.4vw black;
    }
}

@for $i from -3 through 3 {
    .card-stack-tableau-#{$i + 3} {
        box-shadow: #{$i * 0.1}vw -0.2vw 0.2vw 0.2vw rgba(0, 0, 0, 075);
    }
    .card-stack-tableau-#{$i + 3}.blink {
        box-shadow: #{$i * 0.1}vw -0.2vw 0.2vw 0.2vw red;
    }
    .card-stack-tableau-#{$i + 3}.card-focused {
        box-shadow: 0vw 0vw 0.4vw 0.4vw $focused;
    }
    .card-stack-tableau-#{$i + 3}.clickable:hover {
        box-shadow: #{$i * 0.1}vw -0.2vw 0.4vw 0.4vw black;
    }
}

.align-left,
.align-right {
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.align-left {
    left: 0;
}

.align-right {
    right: 0;
}

.align-center {
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
