$suggested: orange;
$selected: yellow;
$focused: #3c99dc;

button {
    font-size:1em;
}

.layout-grid-container.singleplayer {
    width:90vw;
    display: grid;
    grid-template-areas:
        "header"
        "game";
    grid-template-rows: 3.3vw 50vw;
    grid-gap: 0.5vw;
    background-color: "darkgreen";
    font-size: 2vw;
}

.layout-grid-container.splitscreen {
    width:45vw;
    display: grid;
    grid-template-areas:
        "header"
        "game";
    grid-template-rows: 3.3vw 50vw;
    grid-gap: 0.5vw;
    background-color: "darkgreen";
    font-size: 1vw;
}

.header {
    grid-area: header;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 0.5vw;
    color: white;
}

.board-grid-container {
    margin:1vw;
    grid-area: game;
    display: grid;
    grid-gap: 1.5vw;
    align-content: start;
    grid-template-areas:
        "stock waste spacer foundation foundation foundation foundation"
        "tableau tableau tableau tableau tableau tableau tableau";
    background-color: "darkgreen";
}

.board-field {
    position: relative;
}

.board-field.stock { grid-area: stock;}

.mainface {
    grid-area: mainface;
    text-align: center;
    font-size: 2.5em;
}

.card-grid-container {
    display: grid;
    grid-template-rows: 10% 75% 15%;
    grid-template-areas:
        "suite-tl face-tl spacer-t suite-tr"
        "mainface mainface mainface mainface"
        "suite-bl spacer-b face-br suite-br";
    height: 100%;
    width: 100%;
   
}

.card-grid-container > div {
    position: relative;
}

.stack-base {
    position: absolute;
    width:100%;
}

.card-base {
    width: 100%;
    padding-top: 150%;
    border-radius: 0.5vw;
    float: left;
    position: relative;
}

.socket-empty {
    border-style: dashed;
    border-width: 0.3vw;
    border-color: gray;
}

.socket-full {
    margin: 0.3vw;
}

.socket-suggested {
    box-shadow: 0vw 0vw 0.2vw 0.2vw $suggested;
    border-style: solid;
    border-width: 0.3vw;
    border-color: $suggested;
    
}

.card {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    border-style: solid;
    border-width: 0.1vw;
    border-color: black;
    background-color: white;
    padding: 0;
    padding-top: 150%;
    overflow: hidden;
    position: relative;
}
.socket {
    background-color: transparent;
}

.socket:focus {
    outline: none;
}

.socket-focused {
    border-style: solid;
    border-width: 0.3vw;
    border-color: $focused;
}

.card:focus {
    outline: none;
}

.card-selected {
    box-shadow: 0vw 0vw 0.4vw 0.4vw $selected;
}

.card-suggested {
    box-shadow: 0vw 0vw 0.4vw 0.4vw $suggested;
    animation: cardBlinker 2s linear infinite;
    
}

.card-suggested:hover {
    box-shadow: 0vw 0vw 0.4vw 0.4vw $suggested;
    animation: none;
}

@keyframes cardBlinker {
    50% {
        box-shadow: 0vw 0vw 0.2vw 0.2vw $suggested;
    }
}

.socket-blink {
    border-style: dashed;
    border-color: red;
}

.blink {
    border-color: red;
    box-shadow: 0vw 0vw 0.4vw 0.4vw red;
}

.card-content {
    position: absolute;
    top:0;
    left:0;
    right:0;  
    bottom:0;    
}

.card-back {
     
    background-color: hsl(34, 53%, 82%);
    background-image: repeating-linear-gradient(
            45deg,
            transparent 5vw,
            hsla(197, 62%, 11%, 0.5) 0.5vw,
            hsla(197, 62%, 11%, 0.5) 1vw,
            hsla(5, 53%, 63%, 0) 1vw,
            hsla(5, 53%, 63%, 0) 3.5vw,
            hsla(5, 53%, 63%, 0.5) 3.5vw,
            hsla(5, 53%, 63%, 0.5) 4vw,
            hsla(197, 62%, 11%, 0.5) 4vw,
            hsla(197, 62%, 11%, 0.5) 5vw,
            hsla(197, 62%, 11%, 0) 5vw,
            hsla(197, 62%, 11%, 0) 6vw,
            hsla(5, 53%, 63%, 0.5) 6vw,
            hsla(5, 53%, 63%, 0.5) 7vw,
            hsla(35, 91%, 65%, 0.5) 7vw,
            hsla(35, 91%, 65%, 0.5) 8vw,
            hsla(35, 91%, 65%, 0) 8vw,
            hsla(35, 91%, 65%, 0) 9vw,
            hsla(5, 53%, 63%, 0.5) 9vw,
            hsla(5, 53%, 63%, 0.5) 11vw,
            hsla(5, 53%, 63%, 0) 11vw,
            hsla(5, 53%, 63%, 0) 12vw,
            hsla(197, 62%, 11%, 0.5) 12vw,
            hsla(197, 62%, 11%, 0.5) 1.4vw
        ),
        repeating-linear-gradient(
            135deg,
            transparent 5vw,
            hsla(197, 62%, 11%, 0.5) 0.5vw,
            hsla(197, 62%, 11%, 0.5) 1vw,
            hsla(5, 53%, 63%, 0) 1vw,
            hsla(5, 53%, 63%, 0) 3.5vw,
            hsla(5, 53%, 63%, 0.5) 3.5vw,
            hsla(5, 53%, 63%, 0.5) 4vw,
            hsla(197, 62%, 11%, 0.5) 4vw,
            hsla(197, 62%, 11%, 0.5) 5vw,
            hsla(197, 62%, 11%, 0) 5vw,
            hsla(197, 62%, 11%, 0) 6vw,
            hsla(5, 53%, 63%, 0.5) 6vw,
            hsla(5, 53%, 63%, 0.5) 7vw,
            hsla(35, 91%, 65%, 0.5) 7vw,
            hsla(35, 91%, 65%, 0.5) 8vw,
            hsla(35, 91%, 65%, 0) 8vw,
            hsla(35, 91%, 65%, 0) 9vw,
            hsla(5, 53%, 63%, 0.5) 9vw,
            hsla(5, 53%, 63%, 0.5) 11vw,
            hsla(5, 53%, 63%, 0) 11vw,
            hsla(5, 53%, 63%, 0) 14vw,
            hsla(197, 62%, 11%, 0.5) 14vw,
            hsla(197, 62%, 11%, 0.5) 1.6vw
        );
    margin: 5%;
    border-radius: 0.5vw;
    height: 92%;
    border-color: black;
    border-style: solid;
    border-width: 0.1vw;
}

.suit-♥,
.suit-♦ {
    color: red;
}

.foundation-base {
    font-size: 3em  ;
}

.card-stack-stock {
    box-shadow: -0.3vw -0.3vw 0.2vw 0.2vw rgba(0, 0, 0, 075);
    
}

.card-stack-stock.card-focused {
    box-shadow: 0vw 0vw 0.4vw 0.4vw $focused;
}

.card-focused {
    box-shadow: 0vw 0vw 0.4vw 0.4vw $focused;
}

.card-stack-stock.clickable:hover {
    box-shadow: -0.3vw -0.3vw 0.4vw 0.4vw black;
}

.card-stack-waste {
    box-shadow: -0.2vw -0.3vw 0.2vw 0.2vw rgba(0, 0, 0, 075);
    
}
.card-stack-waste.card-focused {
    box-shadow: 0vw 0vw 0.4vw 0.4vw $focused;
}

.card-stack-waste.clickable:hover {
    box-shadow: -0.2vw -0.3vw 0.4vw 0.4vw black;
}

@for $i from 0 through 3 {
    .card-stack-foundation-#{$i} {
        box-shadow: #{$i * 0.1}vw -0.4vw 0.2vw 0.2vw rgba(0, 0, 0, 075);
        
    }
    .card-stack-foundation-#{$i}.blink {
        box-shadow: #{$i * 0.1}vw -0.4vw 0.2vw 0.2vw red;
        
    }
    .card-stack-foundation-#{$i}.card-focused {
        box-shadow: 0vw 0vw 0.4vw 0.4vw $focused;
    }
    .card-stack-foundation-#{$i}.clickable:hover {
        box-shadow: #{$i * 0.1}vw -0.4vw 0.4vw 0.4vw black;
    }
}

@for $i from -3 through 3 {
    .card-stack-tableau-#{$i + 3} {
        box-shadow: #{$i * 0.1}vw -0.2vw 0.2vw 0.2vw rgba(0, 0, 0, 075);
        
    }
    .card-stack-tableau-#{$i + 3}.blink {
        box-shadow: #{$i * 0.1}vw -0.2vw 0.2vw 0.2vw red;
       
    }
    .card-stack-tableau-#{$i + 3}.card-focused {
        box-shadow: 0vw 0vw 0.4vw 0.4vw $focused;
    }
    .card-stack-tableau-#{$i + 3}.clickable:hover {
        box-shadow: #{$i * 0.1}vw -0.2vw 0.4vw 0.4vw black;
    }
}
