.header.singleplayer {
    font-size: 0.9em;
}

.header.splitscreen {
    font-size: 1.5em;
    padding-top: 0em;
}

.header-clock,
.header-title {
    margin-top: 0.15em;
    margin-bottom: 0.25em;
    float: left;
}

.header-clock {
    margin-left: 1em;
}

.header-buttons {
    float: right;
    padding-right: 0.5em;
}

.header-buttons > div {
    float: left;
}

.icon-container {
    margin-left: 0.5em;
    float: left;
    text-align: center;
}

.heart-container {
    margin-left: 0.5em;
    float: left;
    text-align: left;
}

.header-buttons > div > button:disabled {
    color: gray;
}

.header-buttons > div > button {
    padding-top: 0em;
    margin-left: 0.75em;
    border-radius: 0.5em;
    border-color: gray;
    border-style: none;
    color: white;
    margin-top: 0.15em;
    background-color: transparent;
}

.singleplayer .header-buttons > div > button {
    width: 1.5em;
}

.splitscreen .header-buttons > div > button {
    width: 1.5em;
}
