.header.singleplayer {
    font-size: 2vw;
}
.header.splitscreen {
    font-size: 1.5vw;
    padding-top:0.25vw;
}

.header-clock,
.header-title {
    margin-top: 0.25vw;
    float: left;
}

.header-title {
}

.header-clock {
    margin-left: 1vw;
}

.header-buttons {
    float: right;
}

.header-buttons > div {
    float: left;
}

.icon-container {
    margin-left: 1vw;
    float: left;
    text-align: center;
}

.heart-container {
    margin-left: 1vw;
    float: left;
    text-align: left;
}

.header-buttons > div > button {
    padding-top: 0vw;
    border-radius: 0.5vw;
    border-color: gray;
    border-style: none;

    margin-top: 0.25vw;
    background-color: transparent;
}
.singleplayer > .header-buttons > div > button {
    width: 15vw;
}
.splitscreen > .header-buttons > div > button {
    width: 15vw;
}

.splitscreen .header-buttons > div > button {
    width: 3.5vw;
}
