.menu {
    margin-top: 2vw;
    margin:1vw;
    padding: 0.5vw;
    width: 20vw;
    float: left;
    
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    color: white;
    text-align: left;
    background-color: rgba(0, 0, 0, 0.95);
    border-radius: 0.5vw;
}

.menu > .title {
    padding-top: 0.5vw;
    padding-left: 1vw;
    width: 100%;
    font-size: 3vw;
}

.menu > button {
    padding: 0.2vw;
    padding-left: 1vw;
    margin-top: 0.1vw;
    margin-bottom: 0.2vw;
    width: 100%;
    font-size: 2vw;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    text-align: left;
    color: white;
    border-color: light-gray;
    background-color: rgba(0, 0, 0, 0.95);
    border-radius: 0.25vw;
}

.menu > button > .icon {
    float: left;
    padding-right: 1vw;
}

.startscreen-layout {
    padding: 0.5vw;
    float: left;
    margin: 1vw;
    background-color: red;
    background-color: rgba(0, 0, 0, 0.95);
    border-radius: 0.25vw;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    color: white;
}
