.menu {
    width: 33.3vw;
    float: left;
    height: 100vmin;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    color: white;
    text-align: left;
    position: relative;
}

.menu button.active {
    color: white;
}

.menu button {
    padding: 0;
    padding-top: 0.25vw;
    padding-bottom: 0.25vw;
    margin: 0;
    margin-top: 0.25vw;
    margin-bottom: 0.25vw;

    font-size: 1.75vw;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    text-align: left;
    color: gray;

    border-color: light-gray;
    border-style: solid;
    background-color: rgba(0, 0, 0, 0.95);

    width: 82.5%;
    left: 8.25%;
    position: relative;
}

.menu button:focus {
    outline: none;
    outline-style: solid;
    outline-color: blue;
    outline-offset: -0.3vw;
    border-color: blue;
}

.menu button.highlight {
    border-color: blue;
}

.menu button > .icon {
    float: left;
    margin: 0;
    width: 2.2vw;
    padding: 0;
    padding-left: 0.25vw;
    padding-right: 0.25vw;
}

.menu button.indented > .icon {
    padding-left: 2.7vw;
}

.menu button > .label {
    float: left;
}

.startscreen-layout {
    width: 66.6vw;
    float: left;
    height: 100vmin;

    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    color: white;
    position: relative;
}

.startscreen-jail {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}
.innermenu {
    border-radius: 0.25vw;
    position: relative;
    top: 12.5%;
    left: 6.66vw;
    width: 19.98vw;
    right: 6.66vw;
    min-height: 66%;
    padding-bottom: 2vmin;
    background-color: rgba(0, 0, 0, 0.95);
}
.startdetails {
    border-radius: 0.25vw;
    position: relative;
    top: 6.25%;
    width: 59.94vw;
    min-height: 78.5%;
    padding-bottom: 2vmin;
    background-color: rgba(0, 0, 0, 0.95);
}
.menu .title,
.startdetails .title {
    padding-top: 0.5vw;
    padding-bottom: 1.5vw;
    width: 100%;
    font-size: 3vw;
    text-align: center;
    position: relative;
    pointer-events: none;
}

.startdetails .togglecontainer {
    width: 20vw;
    height: 9vw;
    display: inline-block;
    border-color: gray;
    border-style: solid;
    border-width: 0.1vw;
    position: relative;
    text-align: left;
    border-radius: 0.5vw;
    margin: 0;
    margin-left: 1vw;
    margin-right: 1vw;
}
.startdetails .togglecontainer.focused {
    border-color: green;
}
.startdetails .togglecontainer.focused.disabled {
    border-color: red;
}

.startdetails .togglecontainer.disabled {
    color: darkgray;
    border-color: darkgray;
}



.startdetails .togglecontainer.disabled .description,
.startdetails .togglecontainer.disabled .title {
    text-decoration: line-through;
}

.startdetails .togglecontainer .title {
    font-size: 1.25vw;
    position: absolute;
    left: 1vw;
    top: 0.5vw;
    text-align: left;
}
.startdetails .togglecontainer .description {
    font-size: 1vw;
    position: absolute;
    left: 1vw;
    right: 1vw;
    top: 3.5vw;
}

.startdetails .togglecontainer .toggle {
    font-size: 2vw;
    position: absolute;
    right: 1vw;
    top: 0.4vw;
}
.startdetails .togglecontainer .button {
    position: absolute;
    right: 1vw;
    top: 0.8vw;
}
.startdetails .content .togglecontainer .button  button {
    width: 2vw;
    border:none;
    height: 2vw;
    font-size:1.5vw;
    margin:0;
    padding: 0;
}
.startdetails .content .togglecontainer  button:focus {
    outline: none;
}
.startdetails .row {
    padding-bottom: 1.5vw;
}
