.quickstart {
    margin-top: 2vw;
}
.endscreen {
    top: 4vw;
}

.endscreen > div {
    font-size: 2vw;
    text-align: center;
}

.endscreen > .title {
    font-size: 15vw;
}

.rating .content button,
.quickstart .content button,
.endscreen .content button {
    font-size: 4vw;
    color: white;
    border-radius: 0.5vw;
    border-style: solid;
    height: 10vw;
    background-color: rgba(0, 0, 0, 0);
    width: 14vw;
    margin: 1vw;
}

$colors: #339900, #ffcc00, red, #99cc33, orange, brown;

@for $i from 1 through length($colors) {
    $j: $i - 1;
    .quickstart button.active-#{$j} {
        border-color: nth($colors, $i);
        outline-color: nth($colors, $i);
        outline-width: 0.25vw;
        outline-offset: -0.25vw;
        box-shadow: 0 0 0.1vw 0.1vw nth($colors, $i);
    }
    .quickstart button.inactive-#{$j}:hover {
        border-color: nth($colors, $i);
    }
    .quickstart button.inactive-#{$j}:focus {
        outline-color: nth($colors, $i);
        outline-width: 0.25vw;
        outline-offset: -0.25vw;
        outline-style: solid;
    }
    .quickstart button.inactive-#{$j}:hover > div {
        color: white;
    }
}

.rating button > div,
.quickstart button > div,
.endscreen button > div {
    font-size: 1vw;
    color: lightgray;
}

.quickstart button.active > div,
.endscreen button.active > div {
    color: white;
}

.rating {
    top: 2vw;
}

.quickstart > .content.center > div {
    text-align: center;
}

button.blinking {
    animation: blinker 3s linear infinite;
    border-color: #339900;
}
.quickstart button.blinking:hover {
    background-color: #013b0e;
    border-color: #013b0e;
    animation: none;
}
.quickstart button.blinking > div {
    font-size: 2.5vw;
}

@keyframes blinker {
    50% {
        background-color: #013b0e;
        border-color: #013b0e;
    }
}


.tab.header {

}
.tab.content { 

}