.ui {
    z-index: 2000;
}


.ui.neutral {
    background-color: rgba(0, 0, 0, 0.95);
    color: #fff;
    padding: 2vw;
    border-radius: 0.5vw;
    z-index: 5000;
    width: 30vw;
    position: absolute;
    top: 0;
    left: 50%;
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}

.endscreen {
    top: 4em;
}

.endscreen > div {
    font-size: 2vw;
    text-align: center;
}

.endscreen > .title {
    font-size: 15em;
}

.endscreen .content button {
    font-size: 4em;
    color: white;
    border-radius: 0.5em;
    border-style: solid;
    height: 10vw;
    background-color: rgba(0, 0, 0, 0);
    width: 12vw;
    margin: 1vw;
    margin-top: 0vw;
}

.endscreen button > div {
    font-size: 1em;
    color: lightgray;
}
