.ui {
    z-index: 2000;
}

.closer {
    position: absolute;
    right: 0.3vw;
    top: 0.1vw;
}

.closer button {
    font-size: 2vw;
    padding-top: 0vw;
    border-color: transparent;
    border-style: none;
    width: 3vw;
    margin-top: 0vw;
    color: white;
    background-color: transparent;
}

.closer button:focus {
    outline-color: gray;
    outline-width: 0.05vw;
}

.ui > .content > .section {
    font-size: 1vw;
    margin-bottom: 8vw;
}

.ui > .content > .section:last-child {
    margin-bottom: 0vw;
}

.ui > .content > .section > .title {
    font-size: 1.5vw;
    width: 25vw;
    float: left;
}

.ui > .content > .section > .row > select {
    float: right;
    margin-left: 2vw;
    width: 8vw;
    font-size: 1vw;
}

.ui > .content > .section > .row > .label {
    float: left;
    width: 15vw;
    font-size: 1w;
    color: lightgray;
}

.ui > .content > .section > .row {
    clear: both;
}

.ui.neutral {
    background-color: rgba(0, 0, 0, 0.95);
    color: #fff;
    padding: 2vw;
    border-radius: 0.5vw;
    z-index: 5000;
    width: 30vw;
    position: absolute;
    top: 0;
    left: 50%;
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}
