/* Page */

body {
    background-color: #013b0e;
    background-image: url("./felt.png");
    /*https://www.transparenttextures.com/felt.html This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Alignment Helpers */

.align-left {
    left: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
.align-right {
    right: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
.align-center {
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

/* Main Layout Grid */
.game-view {
    grid-area: game;
    margin-top: 2vw;
}

.layout-grid-container {
    margin-left: 1vw;
    display: grid;
    grid-template-areas:
        "header"
        "game";
    grid-template-rows: 3.3vw 53vw;
    grid-gap: 10px;
    background-color: "darkgreen";
    padding: 10px;
}

.header {
    grid-area: header;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 0.5vw;
    padding-left: 1vw;
    font-size: 2vw;
    color: white;
}

.header-title {
    margin-top: 0.25vw;
    float: left;
    font-size: 2vw;
    width: 20vw;
}

.header-clock {
    margin-top: 0.25vw;
    float: left;
    font-size: 2vw;
    padding-left: 20.3vw;
}

.header-buttons {
    float: right;
    padding-right: 1vw;
}
.header-buttons > div {
    float: left;
    padding-left: 0.5vw;
}

.icon-container {
    width: 5vw;
    float: left;
    text-align: center;
}

.header-buttons > div > button {
    font-size: 2vw;
    padding-top: 0vw;
    border-radius: 0.5vw;
    border-color: gray;
    border-style: none;
    width: 5vw;
    margin-top: 0.25vw;
    background-color: rgba(0, 0, 0, 0);
}

.board-grid-container {
    display: grid;
    grid-template-areas:
        "stock waste spacer foundation foundation foundation foundation"
        "tableau tableau tableau tableau tableau tableau tableau";
    grid-template-rows: 14vw 38vw;
    grid-gap: 10px;
    background-color: "darkgreen";
    padding: 10px;
}

.card-grid-container > div {
    position: relative;
}

.stats {
    grid-area: stats;
}

.actions {
    grid-area: actions;
}

.entropy {
    grid-area: entropy;
}
.settings {
    grid-area: settings;
}
.report {
    grid-area: report;
    text-align: center;
}

/* Card Layout Grid */

.mainface {
    grid-area: mainface;
    text-align: center;
    font-size: 5vw;
}

.card-grid-container {
    padding-top: "5px";
    display: grid;
    font-size: 2vw;
    grid-template-rows: 2.1vw 8.3vw 2.1vw;
    grid-template-areas:
        "suite-tl face-tl spacer-t suite-tr"
        "mainface mainface mainface mainface"
        "suite-bl spacer-b face-br suite-br";
    grid-gap: 0.2vw;
    height: 90%;
    width: 100%;
}

/* Card Styling */

.stack-base {
    position: absolute;
}

.card-base {
    width: 9.45vw;
    height: 13.2vw;
    border-radius: 0.5vw;
    float: left;
    position: relative;
}

.socket-empty {
    border-style: dashed;
    border-color: gray;
}

.socket-full {
    margin: 3px;
}

.socket-suggested {
    border-style: solid;
    border-color: blue;
}

.card {
    border-style: solid;
    border-width: 1px;
    border-color: black;
    background-color: white;
}

.card-selected {
    box-shadow: 0px 0px 4px 4px yellow;
}

.card-suggested {
    box-shadow: 0px 0px 4px 4px blue;
}

.socket-blink {
    border-style: dashed;
    border-color: red;
}

.blink {
    border-color: red;
    box-shadow: 0px 0px 4px 4px red;
}

.card-back {
    background-color: hsl(34, 53%, 82%);
    background-image: repeating-linear-gradient(
            45deg,
            transparent 5px,
            hsla(197, 62%, 11%, 0.5) 5px,
            hsla(197, 62%, 11%, 0.5) 10px,
            hsla(5, 53%, 63%, 0) 10px,
            hsla(5, 53%, 63%, 0) 35px,
            hsla(5, 53%, 63%, 0.5) 35px,
            hsla(5, 53%, 63%, 0.5) 40px,
            hsla(197, 62%, 11%, 0.5) 40px,
            hsla(197, 62%, 11%, 0.5) 50px,
            hsla(197, 62%, 11%, 0) 50px,
            hsla(197, 62%, 11%, 0) 60px,
            hsla(5, 53%, 63%, 0.5) 60px,
            hsla(5, 53%, 63%, 0.5) 70px,
            hsla(35, 91%, 65%, 0.5) 70px,
            hsla(35, 91%, 65%, 0.5) 80px,
            hsla(35, 91%, 65%, 0) 80px,
            hsla(35, 91%, 65%, 0) 90px,
            hsla(5, 53%, 63%, 0.5) 90px,
            hsla(5, 53%, 63%, 0.5) 110px,
            hsla(5, 53%, 63%, 0) 110px,
            hsla(5, 53%, 63%, 0) 120px,
            hsla(197, 62%, 11%, 0.5) 120px,
            hsla(197, 62%, 11%, 0.5) 140px
        ),
        repeating-linear-gradient(
            135deg,
            transparent 5px,
            hsla(197, 62%, 11%, 0.5) 5px,
            hsla(197, 62%, 11%, 0.5) 10px,
            hsla(5, 53%, 63%, 0) 10px,
            hsla(5, 53%, 63%, 0) 35px,
            hsla(5, 53%, 63%, 0.5) 35px,
            hsla(5, 53%, 63%, 0.5) 40px,
            hsla(197, 62%, 11%, 0.5) 40px,
            hsla(197, 62%, 11%, 0.5) 50px,
            hsla(197, 62%, 11%, 0) 50px,
            hsla(197, 62%, 11%, 0) 60px,
            hsla(5, 53%, 63%, 0.5) 60px,
            hsla(5, 53%, 63%, 0.5) 70px,
            hsla(35, 91%, 65%, 0.5) 70px,
            hsla(35, 91%, 65%, 0.5) 80px,
            hsla(35, 91%, 65%, 0) 80px,
            hsla(35, 91%, 65%, 0) 90px,
            hsla(5, 53%, 63%, 0.5) 90px,
            hsla(5, 53%, 63%, 0.5) 110px,
            hsla(5, 53%, 63%, 0) 110px,
            hsla(5, 53%, 63%, 0) 140px,
            hsla(197, 62%, 11%, 0.5) 140px,
            hsla(197, 62%, 11%, 0.5) 160px
        );
    margin: 5%;
    border-radius: 0.5vw;
    height: 92%;
    border-color: black;
    border-style: solid;
    border-width: 1px;
}

/* Foundation Stack Base Styling */

.suit-♥ {
    color: red;
}

.suit-♦ {
    color: red;
}

.foundation-base {
    font-size: 6vw;
}

.menu {
    position: absolute;
    top: 6vw;
    border-radius: 0.5vw;
    z-index: 6000;
    background-color: rgba(0, 0, 0, 0.95);
    color: white;
    right: 2vw;
    padding: 2vw;
    width: 25vw;
}

.menu > .section {
    font-size: 1vw;
    margin-bottom: 6vw;
}

.menu > .section:last-child {
    margin-bottom: 0vw;
}

.menu > .section > .title {
    font-size: 1.5vw;
    width: 25vw;
    float: left;
}

.menu > .section > .row > .input {
    float: right;
    margin-left: 2vw;
    width: 8vw;
    font-size: 1vw;
}

.menu > .section > .row > .label {
    float: left;
    width: 15vw;
}

.menu > .section > .row > .label > .description {
    font-size: 1w;
    color: lightgray;
}

.menu > .section > .row {
    clear: both;
}


.endscreen {
  background-color: rgba(0, 0, 0, 0.95);
  color: white;
  padding: 2vw;
  border-radius: 0.5vw;
  z-index: 5000;
  width:20vw;
}